/* Add application styles & imports to this file! */
:root {
  box-sizing: border-box;
  font-size: 0.875em;
  line-height: 1.4;
  letter-spacing: 0.004em;
}
*,
::before,
::after {
  box-sizing: inherit;
}
body {
  margin: 0;
  font-family: Lato, sans-serif;
  color: #5c5c5c;
  background-color: white;
}

/*демонстрация вертикального выравнивания*/
