/* Add application styles & imports to this file! */
:root {
  box-sizing: border-box;
  font-size: 0.875em;
  line-height: 1.4;
  letter-spacing: ;
}
*,
::before,
::after {
  box-sizing: inherit;
}
body {
  margin: 0;
  font-family: Lato, sans-serif;
  color: #5c5c5c;
  background-color: white;
}
.reservation {
  display: flex;
}

/*демонстрация вертикального выравнивания*/
.flex-container {
  display: flex;
}
.flex-container > * + * {
  margin-left: 1em;
}
.flex-container_mt {
  margin-top: 1em;
}
.flex-container_ml {
  margin-left: 1em;
}
